image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}
manifests:
  - image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  - image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}-windows-1809-amd64
    platform:
      architecture: amd64
      os: windows
      version: 1809
  - image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}-windows-ltsc2022-amd64
    platform:
      architecture: amd64
      os: windows
      version: ltsc2022
  - image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}-linux-s390x
    platform:
      architecture: s390x
      os: linux
