image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}
manifests:
  - image: rancher/system-agent-installer-rke2:{{replace "+" "-" build.tag}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
