name: CI on Releasing Tag

on:
  push:
    tags:
      - "*"

env:
  IMAGE: rancher/system-agent-installer-rke2

permissions:
    contents: read
    id-token: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        os: [ linux ]
        arch: [ amd64, arm64 ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix the not-a-git-repository issue
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Set environment variables
        run: |
          echo "ARCH=${{ matrix.arch }}" >> "$GITHUB_ENV"
          echo "OS=${{ matrix.os }}"     >> "$GITHUB_ENV"

      - name: Download installer
        run: scripts/download

      - name: Load secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials primeribs |  PRIME_RIBS ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials registry |  PRIME_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials username |  PRIME_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials password |  PRIME_REGISTRY_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials registry |  PRIME_STAGING_REGISTRY;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials username |  PRIME_STAGING_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials password |  PRIME_STAGING_REGISTRY_PASSWORD ;

      - name: Publish Image - Docker
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: push-image

          public-repo: rancher
          public-username: ${{ env.DOCKER_USERNAME }}
          public-password: ${{ env.DOCKER_PASSWORD }}
          push-to-prime: false

      - name: Publish Image - Staging
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        if: ${{ contains(github.ref_name, '-rc') }}
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          PRIME_RIBS: ${{ env.PRIME_RIBS }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: push-image

          push-to-public: false

          prime-repo: rancher
          prime-registry: ${{ env.PRIME_STAGING_REGISTRY }}
          prime-username: ${{ env.PRIME_STAGING_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_STAGING_REGISTRY_PASSWORD }}

      - name: Publish Image - Prime
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        if: ${{ !contains(github.ref_name, '-rc') }}
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          PRIME_RIBS: ${{ env.PRIME_RIBS }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: push-image

          push-to-public: false

          prime-repo: rancher
          prime-registry: ${{ env.PRIME_REGISTRY }}
          prime-username: ${{ env.PRIME_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_REGISTRY_PASSWORD }}

  build-windows:
    strategy:
      matrix:
        include:
          - NANOSERVER_VERSION: 1809
            TAG_SUFFIX: windows-1809-amd64
            RUNNER: windows-2022
          - NANOSERVER_VERSION: ltsc2022
            TAG_SUFFIX: windows-ltsc2022-amd64
            RUNNER: windows-2022
    runs-on: ${{ matrix.RUNNER }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix the not-a-git-repository issue
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Set environment variables
        run: |
          "ARCH=amd64" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Download installer
        run: scripts/windows/download.ps1

      - name: Load secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials primeribs |  PRIME_RIBS ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials registry |  PRIME_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials username |  PRIME_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials password |  PRIME_REGISTRY_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials registry |  PRIME_STAGING_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials username |  PRIME_STAGING_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials password |  PRIME_STAGING_REGISTRY_PASSWORD ;

      - name: Publish Image - Docker
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          NANOSERVER_VERSION: ${{ matrix.NANOSERVER_VERSION }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: push-image-windows

          public-repo: rancher
          public-username: ${{ env.DOCKER_USERNAME }}
          public-password: ${{ env.DOCKER_PASSWORD }}
          push-to-prime: false

      - name: Publish Image - Staging
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        if: ${{ contains(github.ref_name, '-rc') }}
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          NANOSERVER_VERSION: ${{ matrix.NANOSERVER_VERSION }}
          PRIME_RIBS: ${{ env.PRIME_RIBS }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: push-image-windows

          push-to-public: false

          prime-repo: rancher
          prime-registry: ${{ env.PRIME_STAGING_REGISTRY }}
          prime-username: ${{ env.PRIME_STAGING_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_STAGING_REGISTRY_PASSWORD }}

      - name: Publish Image - Prime
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        if: ${{ !contains(github.ref_name, '-rc') }}
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          NANOSERVER_VERSION: ${{ matrix.NANOSERVER_VERSION }}
          PRIME_RIBS: ${{ env.PRIME_RIBS }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: push-image-windows

          push-to-public: false

          prime-repo: rancher
          prime-registry: ${{ env.PRIME_REGISTRY }}
          prime-username: ${{ env.PRIME_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_REGISTRY_PASSWORD }}

  create-docker-manifest:
    runs-on: ubuntu-latest
    needs: [ build-linux, build-windows ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          . scripts/version

      - name: Load secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials registry |  PRIME_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials username |  PRIME_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials password |  PRIME_REGISTRY_PASSWORD ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials registry |  PRIME_STAGING_REGISTRY ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials username |  PRIME_STAGING_REGISTRY_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-stg-registry/credentials password |  PRIME_STAGING_REGISTRY_PASSWORD ;

      - name: Publish Manifest - Docker
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          NANOSERVER_VERSION: ${{ matrix.NANOSERVER_VERSION }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: publish-manifest

          public-repo: rancher
          public-username: ${{ env.DOCKER_USERNAME }}
          public-password: ${{ env.DOCKER_PASSWORD }}
          push-to-prime: false

      - name: Publish Manifest - Staging
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        if: ${{ contains(github.ref_name, '-rc') }}
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          NANOSERVER_VERSION: ${{ matrix.NANOSERVER_VERSION }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: publish-manifest

          push-to-public: false

          prime-repo: rancher
          prime-registry: ${{ env.PRIME_STAGING_REGISTRY }}
          prime-username: ${{ env.PRIME_STAGING_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_STAGING_REGISTRY_PASSWORD }}

      - name: Publish Manifest - Prime
        uses: rancher/ecm-distro-tools/actions/publish-image@master
        if: ${{ !contains(github.ref_name, '-rc') }}
        env:
          GOARCH: ${{ matrix.arch }}
          GOOS: ${{ matrix.os }}
          NANOSERVER_VERSION: ${{ matrix.NANOSERVER_VERSION }}
        with:
          image: "system-agent-installer-rke2"
          tag: ${{ github.ref_name }}
          make-target: publish-manifest

          push-to-public: false

          prime-repo: rancher
          prime-registry: ${{ env.PRIME_REGISTRY }}
          prime-username: ${{ env.PRIME_REGISTRY_USERNAME }}
          prime-password: ${{ env.PRIME_REGISTRY_PASSWORD }}

      - name: Inspect image
        run: docker buildx imagetools inspect ${{ env.IMAGE }}:${{ env.VERSION }}
